@import 'modules/_vars';


.new-message { 
    span { 
        font-size: 0.8em; 
        display: block; 
        margin-bottom: 2px; 
        color: rgba(0, 0, 0, 0.521);
    }

    width: 45%;
    padding: 8px 12px;
    background-color: $light-grey; 
    font-family: $main;
    color: white;
    border-radius: 15px;
    margin-bottom: 1rem;
    font-size: 2em;
    animation: bounceIn 0.5s;

    float:left;
    clear: both;
}

.my-message {
    float: right !important;
    background: rgb(238,9,121);
	background: linear-gradient(90deg, rgba(238,9,121,1) 0%, rgba(255,106,0,1) 100%);
    color: white;
    font-family: $main;
    animation: bounceIn 0.5s;
}

//send button
button {
    background-color: $black;
    color: $orange;
    font-family: $main;
    font-size: 2em;
    padding: 5px;
    width: 15%;
    border-radius: 35px;
    border: none;
    height: 4em;
}

// button:hover {
//     animation: bounceIn 5s;
// }

//media query 1024px ---TABLET---
@media screen and (min-width: 64em) {
    button {
		font-size: 1.5em;
        cursor: pointer;
        height: 3em;
	}
}

//media query 1565px ---LARGE DESKTOP---
@media screen and (min-width: 97.8125em) {
    button {
		font-size: 1em;
	}
}

//keyframe animation
@keyframes bounceIn {
0% {
    transform: scale(0.1);
    opacity: 0;
}
60% {
    transform: scale(1.2);
    opacity: 1;
}
100% {
    transform: scale(1);
}
}

  