@import 'modules/_vars';

//show popup when loading the page by default 
#popupShow {
    display: flex;
    flex-direction: column;
    padding-top: 60%;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(238,9,121);
	background: linear-gradient(90deg, rgba(238,9,121,1) 0%, rgba(255,106,0,1) 100%);
}

//hide popup when user clicks the button
.popupHide {
    display: none !important;
}

//username field
#username {
    height: 150px;
    width: 80%;
    border-radius: 35px;
    margin-right: 2%;
    margin-left: 10%;
    padding: 1.4rem;
    font-size: 2.5em;
}

//username submit button

#usernameSubmit {
    height: 110px;
    width: 30%;
    background-color: $black;
    border-radius: 35px;
    color: $orange;
    font-size: 2.5em;
    cursor: pointer;
    margin-left: 35%;
    margin-top: 5%;
}